## from github /  gitignore / Python.gitignore

*.py[co]

# Packages
*.egg
*.egg-info
#dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg



## custom ignore list
## linux backup file
*~

## *.orig from diff 
*.orig

## pydev
.project
.pydevproject
.DS_Store


##
.idea/
data/MetaSim/MetaSim Uninstaller.app/
data/MetaSim/MetaSim.app/
data/MetaSim/class/
data/MetaSim/database/
data/MetaSim/error.log
data/MetaSim/License.txt
data/MetaSim/examples/
data/MetaSim/.install4j/
data/MetaSim/jars/
data/BenchMark*
		
#
